:root {
	--col-text: black;
	--col-bg-plain: #f8f8f8;;
	--col-bg-tint: #ffe5e1;
	--col-accent-dark: #FF6A00;
	--col-accent-mid: #FF8B39;
	--col-accent-light: #FFA464;
	--col-button-normal: var(--col-accent-dark);
	--col-button-hover: var(--col-accent-light);
	--col-button-text: white;
	--col-banner-bg: white;
	--col-section-heading: var(--col-accent-dark);
	--col-section-text: var(--col-text);
	--col-section-bg: var(--col-bg-plain);
}

body {
	background: var(--col-bg-plain);
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 450;
}

h1 {
	font-family: "Raleway", sans-serif;
}

h2 {
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding-left: 20px;
}

sup {
	vertical-align: top;
	font-size: 0.6em; 
}

nav.banner {
	background-color: var(--col-banner-bg);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	filter: drop-shadow(rgba(0, 0, 0, 0.2) 2px 2px 2px);
}

.banner-container {
	display: grid;
}

.banner-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-title > h1 {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-family: "Playwrite GB S", sans-serif;
	font-weight: 600;
	color: var(--col-accent-dark);
	user-select: none;
	white-space: nowrap;
	overflow-x: hidden;
}

.banner-menu > ul {
	font-size: 0;
}

.banner-menu a {
	text-decoration: none;
}

.banner-menu-item { 
	transition: 0.5s;
	color: var(--col-accent-dark);
	font-weight: 600;
	text-transform: lowercase;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	text-align: center;
	align-content: center;
	font-size: 16px;
}

.banner-menu-item.selected {
	background-color: var(--col-bg-tint);
}

.banner-menu-item:hover {
	transition: 0.5s;
	background-color: var(--col-bg-tint);
}