<footer>
	<div id="footer-content" class="content">
		<ul id="footer-socials">
			<li><i class="icon ri-phone-line"></i>07751 465357</li>
			<li><a href="mailto:info@risetkd.co.uk"><i class="icon ri-mail-line"></i>info@risetkd.co.uk</a></li>
			<li><a href="https://x.com/rise_tkd"><i class="icon ri-twitter-x-line"></i>rise_tkd</a></li>
			<li><a href="https://www.instagram.com/risetkd/"><i class="icon ri-instagram-line"></i>risetkd</a></li>
		</ul>
		<div id="footer-copyright">
			<hr>
			<p>Copyright © 2024 Rise Taekwon-Do</p>
		</div>
	</div>
</footer>