footer {
	position: relative;
	background-color: #404040;
	color: var(--col-accent-mid);
}

#footer-content {
	padding: 5px;
}

footer > .divider {
	background-image: url('/assets/img/divider-footer.png');
}

#footer-socials {
	text-align: center;
	list-style: none;
	padding: 0 40px;
}

#footer-socials > li {
	display: inline-block;
	padding: 0 10px;
}

#footer-socials a {
	text-decoration: none;
	transition: 0.5s;
	color: inherit;
}

#footer-socials a:visited {
	color: inherit;
}

#footer-socials a:hover {
	transition: 0.5s;
	color: var(--col-accent-light);
}

#footer-copyright {
	text-align: center;
	font-size: 0.8em;
}