footer {
	background-color: #909090;
	padding: 5px;
}

#footer-socials {
	text-align: center;
	list-style: none;
	padding: 0 40px;
}

#footer-socials > li {
	display: inline-block;
	padding: 0 10px;
}

#footer-socials .icon {
	margin-right: 5px;
	font-size: 1.2em;
}

#footer-socials a {
	text-decoration: none;
	transition: 0.5s;
	color: inherit;
}

#footer-socials a:visited {
	color: inherit;
}

#footer-socials a:hover {
	transition: 0.5s;
	color: #303030;
}

#footer-copyright {
	text-align: center;
	font-size: 0.8em;
}