:root {
	--col-text: black;
	--col-text-hover: #505050;
	--col-bg-dark: #e0e0e0;
	--col-bg-mid: #f0f0f0;
	--col-bg-light: white;
	--col-bg-tint: #ffd9bf;
	--col-accent-dark: #FF6A00;
	--col-accent-mid: #FF8B39;
	--col-accent-light: #FFA464;
	--col-button-normal: var(--col-accent-dark);
	--col-button-hover: var(--col-accent-light);
	--col-button-text: white;
	--col-banner-bg: white;
	--col-section-heading: var(--col-accent-dark);
	--col-section-text: var(--col-text);
	--col-section-bg: var(--col-bg-plain);
}

body {
	background: var(--col-bg-dark);
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 450;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--col-accent-dark);
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding-left: 15px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
}

p {
	letter-spacing: 0.01em;
	line-height: 1.4em;
 }

sup {
	vertical-align: top;
	font-size: 0.6em; 
}

.icon {
	color: var(--col-button-normal);
}

.address p:not(:first-child) {
	font-size: 0.9em;
}