:root {
	--col-text: black;
	--col-bg-dark: #e0e0e0;
	--col-bg-mid: #f0f0f0;
	--col-bg-light: white;
	--col-bg-tint: #ffd9bf;
	--col-accent-dark: #FF6A00;
	--col-accent-mid: #FF8B39;
	--col-accent-light: #FFA464;
	--col-button-normal: var(--col-accent-dark);
	--col-button-hover: var(--col-accent-light);
	--col-button-text: white;
	--col-banner-bg: white;
	--col-section-heading: var(--col-accent-dark);
	--col-section-text: var(--col-text);
	--col-section-bg: var(--col-bg-plain);
	--col-button-text: white;
	--col-button-normal: var(--col-accent-dark);
	--col-button-hover: var(--col-accent-light);
}

body {
	background: var(--col-bg-dark);
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 450;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--col-accent-dark);
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding-left: 15px;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
}

sup {
	vertical-align: top;
	font-size: 0.6em; 
}

nav#banner {
	background-color: var(--col-banner-bg);
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 2px 2px);
}

#banner-container {
	display: grid;
}

#banner-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

#banner-title > h1 {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-family: "Playwrite GB S", sans-serif;
	font-weight: 600;
	color: var(--col-accent-dark);
	user-select: none;
	white-space: nowrap;
	overflow-x: hidden;
	padding: 0;
}

#banner-menu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#banner-menu a {
	text-decoration: none;
}

.banner-menu-item {
	transition: 0s;
	color: var(--col-accent-dark);
	font-weight: 600;
	text-transform: lowercase;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	text-align: center;
	align-content: center;
	font-size: 16px;
	box-sizing: border-box;
}

.banner-menu-item {
	transition: 0.5s;
	background-color: transparent;
}

.banner-menu-item:hover {
	transition: 0.5s;
	background-color: var(--col-bg-tint);
}

.banner-menu-item.selected {
	transition: 0s;
	background-color: var(--col-bg-tint);
}

.section {
	position: relative;
}

.divider {
	position: absolute;
	left: 50%;
	top: -40px;
	height: 40px;
	transform: translateX(-50%);
	background-image: url('/assets/img/divider-white.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	width: 100vw;
	z-index: 500;
	filter: drop-shadow(rgba(0, 0, 0, 0.12) 0 -3px 2px);
}

.section-image {
	width: min-content;
}

.section-image > img {
	border-radius: 20px;
	filter: drop-shadow(rgba(0, 0, 0, 0.2) 2px 2px 2px);
}

figcaption {
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
}

.section:nth-child(3n) > .divider {
	background-position-x: 33.333%;
}

.section:nth-child(3n + 1) > .divider {
	background-position-x: 66.666%;
}

.section:nth-child(2n) {
	background-color: white;
}

.section:nth-child(2n) > .divider {
	background-image: url('/assets/img/divider-white.png');
}

.section:nth-child(2n + 1) {
	background-color: #e0e0e0;
}

.section:nth-child(2n + 1) > .divider {
	background-image: url('/assets/img/divider-grey.png');
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
	color: var(--col-section-heading);
}

.section {
	color: var(--col-section-text);
	overflow-x: clip;
	overflow-y: visible;
}

.button {
	margin: 0 10px 10px 10px;
	transition: 0.5s;
	display: inline-block;
	background-color: var(--col-button-bg-normal, var(--col-button-normal));
	border: 1px solid var(--col-button-border-normal, var(--col-button-normal));
	border-radius: 50px;
	color: var(--col-button-text);
	font-weight: bold;
	text-decoration: none;
	width: fit-content;
	margin-left: 10px;
	padding: 9px 19px;
}

.button:hover {
	transition: 0.5s;
	background-color: var(--col-button-bg-hover, var(--col-button-hover));
	border: 1px solid var(--col-button-border-hover, var(--col-button-hover));
	text-decoration: underline;
}

.infocard-list {
	list-style: none;
	padding: 0;
	margin: 15px;
}

.infocard-list > li {
	display: inline-block;
	margin-right: 15px;
}

.infocard > div, .infocard > a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.infocard-icon {
	padding: 0 5px;
	font-size: 2.0em;
}

.infocard-text {
	text-align: left;
}

.infocard-text p {
	margin: 5px;
}

.infocard a {
	text-decoration: none;
	transition: 0.5s;
	color: inherit;
}

.infocard a:visited {
	color: inherit;
}

.infocard a:hover {
	transition: 0.5s;
	color: #505050;
}

.address p:not(:first-child) {
	font-size: 0.9em;
}