.only-desktop {
	display: none;
}

.content {
	width: 96vw;
	margin: 0 auto;
}

body {
	margin-top: 10vh;
}

nav.banner {
	height: 8vh;
}

.banner-container {
	grid-template-columns: min-content auto min-content;
}

.banner-icon {
	height: 8vh;
}

.banner-icon > img {
	width: 6vh;
	height: 6vh;
	margin: 1vh;
}

.banner-title > h1 {
	margin: 0;
	font-size: 3vh;
}

.banner-menu-open {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.banner-menu-open>.icon {
	color: var(--col-accent-dark);
	font-size: 4vh;
	margin: 1vh;
}

.banner-menu-list {
	position: absolute;
	top: 8vh;
	width: calc(100vw - 8vh);
	height: 92vh;
	padding: 0;
	background-color: var(--col-bg-plain);
}

.banner-menu.hide #banner-menu-icon-close {
	display: none;
}

.banner-menu.show #banner-menu-icon-open {
	display: none;
}

.banner-menu.hide .banner-menu-list {
	transition: 0.5s;
	left: -100vw;
}

.banner-menu.show .banner-menu-list {
	transition: 0.5s;
	left: 0;
}

#banner-menu-list > li {
	border-bottom: 5px solid lightgrey;
}

.banner-menu-item {
	font-size: 2vh;
	text-align: left;
	padding: 2vh 2vh 2vh 4vh;
}

.banner-menu-item.selected {
	border-right: 2vw solid var(--col-accent-dark)
}