.only-desktop {
	display: none;
}

.content {
	width: 96vw;
	margin: 0 auto;
}

body {
	margin-top: 8vh;
}

nav#banner {
	height: 8vh;
}

#banner-container {
	grid-template-columns: min-content auto min-content;
}

#banner-logo {
	height: 8vh;
}

#banner-logo > img,
#banner-logo > svg {
	width: 7vh;
	height: 7vh;
	margin: 0.5vh;
}

#banner-title > span {
	margin: 0;
	font-size: 3vh;
}

#banner-menu-open {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	cursor: pointer;
}

#banner-menu-open > .icon {
	color: var(--col-accent-dark);
	font-size: 4vh;
	margin: 1vh;
}

#banner-menu-list {
	position: absolute;
	top: 8vh;
	width: calc(100vw - 8vh);
	height: 92vh;
	padding: 0;
	background-color: var(--col-bg-mid);
}

#banner-menu.hide #banner-menu-icon-close {
	display: none;
}

#banner-menu.show #banner-menu-icon-open {
	display: none;
}

#banner-menu.hide #banner-menu-list {
	transition: 0.5s;
	left: -100vw;
}

#banner-menu.show #banner-menu-list {
	transition: 0.5s;
	left: 0;
}

#banner-menu-list > li {
	border-bottom: 1px solid #d0d0d0;
}

.banner-menu-item {
	font-size: 2vh;
	text-align: left;
	border-right: 5px solid transparent;
}

.banner-menu-item.selected {
	border-right: 5px solid var(--col-accent-dark);
}

.banner-menu-icon {
	font-size: 1.8em;
	margin: 15px;
}

.section-content {
	padding: 10px 0 40px 0;
}

.section-image {
	margin: 0 auto 20px auto;
	padding: 0;
}

.section-image > img {
	width: 96vw;
}