.section {
	position: relative;
}

.divider {
	position: absolute;
	left: 50%;
	top: -39px;
	height: 40px;
	transform: translateX(-50%);
	background-image: url('/assets/img/divider-white.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	width: 100vw;
	z-index: 500;
	filter: drop-shadow(rgba(0, 0, 0, 0.12) 0 -3px 2px);
}

.section-image {
	width: min-content;
}

.section-image > img {
	border-radius: 20px;
	filter: drop-shadow(rgba(0, 0, 0, 0.2) 2px 2px 2px);
}

figcaption {
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
}

.section:nth-child(3n) > .divider {
	background-position-x: 33.333%;
}

.section:nth-child(3n + 1) > .divider {
	background-position-x: 66.666%;
}

.section:nth-child(2n) {
	background-color: white;
}

.section:nth-child(2n) > .divider {
	background-image: url('/assets/img/divider-white.png');
}

.section:nth-child(2n + 1) {
	background-color: #e0e0e0;
}

.section:nth-child(2n + 1) > .divider {
	background-image: url('/assets/img/divider-grey.png');
	filter: drop-shadow(rgba(0, 0, 0, 0.05) 0 -3px 2px);
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
	color: var(--col-section-heading);
}

.section {
	color: var(--col-section-text);
	overflow-x: clip;
	overflow-y: visible;
}