---
---
#page .infocard-list > li {
	display: block;
}

#section-tkd article {
	grid-column: 1 / -1;
}

#section-impact {
	background-color: #a1b8ce;
}

#section-impact > .divider {
	background-image: url('/assets/img/divider-impact.png');
}

#section-impact .section-image {
	order: -1;
}

#section-impact {
	--col-section-heading: #04284C;
	--col-section-text: black;
	--col-section-bg: #A1B8CE;
	--col-button-text: white;
	--col-button-normal: #04284C;
	--col-button-hover: #466B8F;
	--col-button-bg-normal: #04284C;
	--col-button-bg-hover: #466B8F;
}

#section-impact .infocard-icon {
	font-size: 0.5em;
}

#section-itf {
	--col-section-heading: #1D1D1B;
	--col-section-text: #1D1D1B;
	--col-section-bg: white;
	--col-button-text: #1D1D1B;
	--col-button-text-hover: #555555;
	--col-button-normal: #1D1D1B;
	--col-button-hover: #555555;
	--col-button-bg-normal: transparent;
	--col-button-bg-hover: transparent;
}