---
---
@import 'definitions.scss';

#segment-welcome {
	padding: 0;
}

#segment-welcome .content-wrapper {
	padding: 0;
}

#segment-welcome .segment-content {
	display: grid;
	grid-template-rows: min-content auto;
	box-sizing: border-box;
}

#segment-welcome .segment-content section {
	display: flex;
	align-items: center;
	justify-content: center;
}

#segment-welcome-wrapper {
	width: min-content;
	height: min-content;
	margin: var(--len-spacing-large);
	margin-bottom: calc(var(--len-spacing-large) + var(--len-divider-height));
}

#segment-welcome-text {
	font-family: "Raleway", sans-serif;
	display: block;
	text-align: left;
	text-transform: lowercase;
	letter-spacing: 0.2em;
	font-weight: 600;
	color: var(--col-accent-dark);
	white-space: nowrap;
	width: min-content;
}

#segment-welcome-title {
	display: block;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-family: "Playwrite GB S", sans-serif;
	font-weight: 600;
	color: var(--col-accent-dark);
	white-space: nowrap;
	width: min-content;
	margin: 0;
}

#segment-getting-started .segment-image {
	order: -1;
}

@media screen and (max-width: $len-boundary-mobile) { /* Mobile mode */
	#segment-welcome .segment-content {
		min-height: min(133vw, calc(100vh - 10em));
	}

    #segment-welcome-text {
		font-size: 7vw;
		padding-right: 3em;
	}

	#segment-welcome-title {
		font-size: 8vw;
		padding-left: 3em;
	}
}

@media screen and (min-width: $len-boundary-mobile) { /* Tablet mode */
	#segment-welcome .segment-content {
		min-height: calc(100vh - 10em);
	}

    #segment-welcome-text {
		font-size: 5.4vw;
		padding-right: 4em;
	}

	#segment-welcome-title {
		font-size: 6vw;
		padding-left: 4em;
	}
}

@media screen and (min-width: $len-boundary-tablet) { /* Desktop mode */
	#segment-welcome .segment-content {
		min-height: calc(100vh - 10em);
	}

    #segment-welcome-text {
		font-size: 3.8vw;
		padding-right: 5em;
	}

	#segment-welcome-title {
		font-size: 4.2vw;
		padding-left: 5em;
	}
}

@media print { /* Print mode */
	#segment-welcome .segment-content {
		grid-template-rows: auto;
		height: calc(100vh - 10em);
	}

    #segment-welcome-text {
		font-size: 3.8vw;
		padding-right: 5em;
	}

	#segment-welcome-title {
		font-size: 4.2vw;
		padding-left: 5em;
	}
}