---
---
#segment-welcome {
	grid-column: 1 / -1;
}

#segment-welcome-background {
	position: absolute;
	top: -80px;
	left: -3%;
	width: 106%;
	height: calc(100% + 100px);
	background-image: url('/assets/img/home/pic-teaching.jpg');
	background-size: cover;
	background-position: center;
	filter: blur(5px) brightness(80%);
}

#segment-welcome h1 {
	filter: drop-shadow(rgba(0, 0, 0, 0.12) 4px 4px 2px);
}

#segment-welcome-text {
	display: block;
	text-align: left;
	text-transform: lowercase;
	letter-spacing: 0.2em;
	font-weight: 600;
	color: var(--col-accent-dark);
	white-space: nowrap;
	font-size: 0.9em;
}

#segment-welcome-title {
	display: block;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-family: "Playwrite GB S", sans-serif;
	font-weight: 600;
	color: var(--col-accent-dark);
	white-space: nowrap;
}

#segment-getting-started .segment-image {
	order: -1;
}

@media (max-width:481px) {
	#segment-welcome h1 {
		font-size: 2em;
		padding: 50px 20px;
	}
}

@media (min-width:481px) {
	#segment-welcome h1 {
		font-size: 2em;
		padding: 50px 20px;
	}
}

@media (min-width:641px) {
	#segment-welcome h1 {
		font-size: 2em;
		padding: 50px 20px;
	}
}

@media (min-width:961px) {
	#segment-welcome h1 {
		font-size: 2em;
		padding: 50px 20px;
	}
}

@media (min-width:1025px) {
	#segment-welcome h1 {
		font-size: 2em;
		padding: 50px 20px;
	}
}

@media (min-width:1281px) { /* HD-ready */
	#segment-welcome h1 {
		font-size: 3em;
		padding: 100px 150px;
	}

	.segment-image img {
		width: 400px;
	}
}

@media (min-width:1921px) { /* FHD */
	#segment-welcome h1 {
		font-size: 4em;
		padding: 150px 200px;
	}

	.segment-image img {
		width: 480px;
	}
}

@media (min-width:2561px) { /* QHD */
	.segment-image img {
		width: 560px;
	}
}