#banner {
	background-color: var(--col-banner-bg);
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 2px 2px);
}

#banner-container {
	display: grid;
}

#banner-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

#banner-title span {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-family: "Playwrite GB S", sans-serif;
	font-weight: 600;
	color: var(--col-accent-dark);
	user-select: none;
	white-space: nowrap;
	overflow-x: hidden;
	padding: 0;
}

#banner-menu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#banner-menu a {
	text-decoration: none;
}

.banner-menu-item {
	transition: 0s;
	color: var(--col-accent-dark);
	font-weight: 600;
	text-transform: lowercase;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	text-align: center;
	align-content: center;
	font-size: 16px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.banner-menu-item {
	transition: 0.5s;
	background-color: transparent;
}

.banner-menu-item:hover {
	transition: 0.5s;
	background-color: var(--col-bg-tint);
}

.banner-menu-item.selected {
	transition: 0s;
	background-color: var(--col-bg-tint);
}