.infocard-list {
	list-style: none;
	padding: 0;
	margin: var(--len-spacing-large);
}

.infocard-list > li {
	display: inline-block;
	margin-right: var(--len-spacing-small);
}

.infocard > div,
.infocard > a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.infocard-icon {
	padding: 0 var(--len-spacing-tiny);
	font-size: 2.0em;
}

.infocard-text {
	text-align: left;
}

.infocard-text p {
	margin: var(--len-spacing-tiny);
}

.infocard-text p:not(:first-child) {
	margin-top: 0;
}

.infocard a {
	text-decoration: none;
	transition: 0.5s;
	color: var(--col-text);
}

.infocard a:visited {
	color: var(--col-text);
}

.infocard a .icon {
	transition: 0.5s;
	color: var(--col-button-normal);
}

@media (hover: hover) {
	.infocard a:hover {
		transition: 0.5s;
		color: var(--col-text-hover);
	}

	.infocard a:hover .icon {
		transition: 0.5s;
		color: var(--col-button-hover);
	}
}