.segment {
	position: relative;
}

.divider {
	position: absolute;
	left: 50%;
	top: -39px;
	height: 40px;
	transform: translateX(-50%);
	background-image: url('/assets/img/divider-white.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	width: 100vw;
	z-index: 500;
	filter: drop-shadow(rgba(0, 0, 0, 0.12) 0 -3px 2px);
}

.segment-content figure {
	width: min-content;
}

.segment-content figure img {
	border-radius: 20px;
	filter: drop-shadow(rgba(0, 0, 0, 0.2) 2px 2px 2px);
}

.segment:nth-child(3n) > .divider {
	background-position-x: 33.333%;
}

.segment:nth-child(3n + 1) > .divider {
	background-position-x: 66.666%;
}

.segment:nth-child(2n) {
	background-color: white;
}

.segment:nth-child(2n) > .divider {
	background-image: url('/assets/img/divider-white.png');
}

.segment:nth-child(2n + 1) {
	background-color: #e0e0e0;
}

.segment:nth-child(2n + 1) > .divider {
	background-image: url('/assets/img/divider-grey.png');
	filter: drop-shadow(rgba(0, 0, 0, 0.05) 0 -3px 2px);
}

.segment h1,
.segment h2,
.segment h3,
.segment h4,
.segment h5,
.segment h6 {
	color: var(--col-segment-heading);
}

.section {
	color: var(--col-section-text);
	overflow-x: clip;
	overflow-y: visible;
}